<ion-header>
  <ion-navbar>
    <ion-title>Mes réservations</ion-title>
  </ion-navbar>
  <button (click)="disconnect()" >Disconnect</button>
</ion-header>

<ion-content class="outer-content">
  <h2 *ngIf="!bookings">Vous n'avez aucune réservation</h2>

  <ion-list>
      <ion-item-sliding *ngFor="let b of bookings">
        <ion-item>
          <h2>{{b.title}}</h2>
          <ion-note>{{b.startAt | date: "EEE dd MMM 'à' HH:mm"}}</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteBooking(b)">
            <ion-icon name="close"></ion-icon>
            Suppr.
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

</ion-content>
